# Diachronic Bayes

There is another way to think of Bayes's Theorem: it gives us a way to update the probability of a hypothesis, H, given some body of data D. This interpretations is "diachronic", which means "related to change over time"; in this case, the probability of the hypotheses changes as we see new data.<br/><br/>

**P(H|D) = P(H)\*P(D|H)/P(D)**
<br/>
- P(H) is the probability of hypothesis before we see the data, called the prior probability or just **prior**
- **P(H|D)** is the probability of the hypothesis after we see the data, called the **posterior**
- **P(D|H)** is the probability of the data under the hypothesis, called the **likelihood**
- **P(D)** is the **total probability of the data**, under any hypothesis

**P(D) = Sum of P(Hi) \* P(D|Hi)**<br/>
Where **i** is the number of hypothesis

# The Dice Problem

A box of 6-sided die, 8-sided die, and 12-sided die.<br/>
Someone pick one box at random, roll the die, then report the outcome is a 1.<br/>
**What is the probability that he chose the 6-sided die?**

In [1]:
import pandas as pd
import numpy as np
from fractions import Fraction

### User Defined Functions

In [2]:
def update(data):
    ## compute the posterior probability
    data['unormalized_posterior'] = data['prior']*data['likelihood']
    ## total probability of the data P(D)
    data['pd'] = data['unormalized_posterior'].sum()
    data['posterior'] = data['unormalized_posterior']/data['pd']
    return data

#### Create a Bayes Table

In [3]:
df = pd.DataFrame(index=[6, 8, 12])

In [4]:
df['prior'] = Fraction(1, 3)
df['likelihood'] = Fraction(1,6), Fraction(1,8), Fraction(1,12)

In [5]:
df

   prior likelihood
6    1/3        1/6
8    1/3        1/8
12   1/3       1/12

In [6]:
update(df)

   prior likelihood unormalized_posterior   pd posterior
6    1/3        1/6                  1/18  1/8       4/9
8    1/3        1/8                  1/24  1/8       1/3
12   1/3       1/12                  1/36  1/8       2/9

The posterior probability of the 6-sided die is 4/9. Intuitively, the 6-sided die is the most likely because it had the highest likelihood of producing the outcome we saw

In [7]:
4/9

0.4444444444444444

In [8]:
1/3

0.3333333333333333

# The Monty Hall Problem

- The host, Monty Hall, shows you three closed doors - numbered 1, 2, and 3 - and tells you there is a prize behind each door.
- One prize is valuable (traditionally a car), th other two are less valuable (traditionally goats)
- The object of the game is to guess which door has the car. If you guess right, you get to keep the car.

**Suppose you pick Door 1. Before opening the door you chose, Monty opens Door 3 and reveals a goat. The Monty offers you the option to stick with your original choice or switch to the remaining unopened door**

In [9]:
df = pd.DataFrame(index=['Door 1', 'Door 2', 'Door 3'])

In [10]:
df['prior'] = Fraction(1, 3)

In [11]:
df

       prior
Door 1   1/3
Door 2   1/3
Door 3   1/3

The data is that Monty opened Door 3 and revealed a goat. So let's consider the probability of the data under each hypothesis:
- If the car is behind Door 1, Monty chooses Door 2 or 3 at random, so the probability he opens Door 3 is 1/2
- If the car is behind Door 2, Monty must open Door 3, so the probability he opens Door 3 is 1
- If the car is behind Door 3, Monty won't open Door 3, so the probability under this hypothesis is 0

In [12]:
df['likelihood'] = Fraction(1,2), 1, 0
df

       prior likelihood
Door 1   1/3        1/2
Door 2   1/3          1
Door 3   1/3          0

In [13]:
df['unorm_posterior'] = df['prior']*df['likelihood']
df

       prior likelihood unorm_posterior
Door 1   1/3        1/2             1/6
Door 2   1/3          1             1/3
Door 3   1/3          0               0

In [14]:
df['total_probability_of_the_data']=df['unorm_posterior'].sum()

In [16]:
df['posterior']=df['unorm_posterior']/df['total_probability_of_the_data']
df

,prior,likelihood,unorm_posterior,total_probability_of_the_data,posterior
Door 1,1/3,1/2,1/6,1/2,1/3
Door 2,1/3,1,1/3,1/2,2/3
Door 3,1/3,0,0,1/2,0

After Monty opens Door 3, the posterior probability of Door 1 is 1/3, the posterior probability of Door 2 is 2/3. So you are better off switch-ing from Door 1 to Door 2.

### Exercise

#### Example 2-1

In [17]:
df = pd.DataFrame(index=['trick', 'non_trick'])

In [21]:
df['prior'] = Fraction(1,2), Fraction(1,2)

In [22]:
df['likelihood'] = Fraction(1,2), 1

In [23]:
df

          prior likelihood
trick       1/2        1/2
non_trick   1/2          1

In [24]:
df['unorm_post'] = df['prior']*df['likelihood']

In [26]:
df['post'] = df['unorm_post'] / df['unorm_post'].sum()

In [27]:
df

          prior likelihood unorm_post post
trick       1/2        1/2        1/4  1/3
non_trick   1/2          1        1/2  2/3

In [41]:
df['posterior'].sum()

Fraction(1, 1)

#### Example 2-2

In [28]:
df = pd.DataFrame(index=['Male-Male', 'Male-Female', 'Female-Female'])

In [29]:
df

Empty DataFrame
Columns: []
Index: [Male-Male, Male-Female, Female-Female]

In [30]:
df['prior'] = Fraction(1,3),Fraction(1,3),Fraction(1,3)

In [31]:
df

              prior
Male-Male       1/3
Male-Female     1/3
Female-Female   1/3

In [33]:
df['likelihood'] = 0, Fraction(1,2), Fraction(1,2)

In [40]:
df['unorm_post'] = df['prior'] * df['likelihood']
df['posterior']=df['unorm_post']/df['unorm_post'].sum()
df

              prior likelihood unorm_post posterior
Male-Male       1/3          0          0         0
Male-Female     1/3        1/2        1/6       1/2
Female-Female   1/3        1/2        1/6       1/2

In [42]:
df['posterior'].sum()

Fraction(1, 1)